.skills__navbar{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.skills__button{
    width: 100%;
    padding: 8px 0;
    font-family: "NTR";
    font-size: 16px;
}

.skills__card{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    display: inline-flex;
}

.skills__image img{
    max-width: 200px;
    height: auto;
}

.skills__info{
    margin: 0 25px;
}

.skills__info h3{
    font-family: "NTR";
    font-size: 24px;
    font-weight: 700;
    color: #2e2e2e;
    margin-bottom: -10px;
    
}

.skills__info p{
    font-family: "NTR";
    font-size: 17px;
    line-height: 1;
    color: #2e2e2e;
}

@media screen and (max-width: 1000px){
    .skills__information{
        display: flex;
        flex-direction: row;
    }
    
    .skills__navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .skills__image img{
        max-width: 0px;
        height: auto;
    }

    .skills__info {
        margin: -10px 0px;
        padding: 0 0px;
    }

}