@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=NTR&display=swap');

.App {
  font-family: "Montserrat", sans-serif;
  background-color: #F8F7FC;
}

.SkillsAndContact{
  display: flex;
  flex-direction: column;
  gap: 0;
}